@import 'fonts';
@import 'variables';

body {
    background-color: $primary-bg;
    font: 14px $primary-font;
    color: $primary-color;
}

.jumbotron {
    background-color: $secondary-color;
}

a.active {
    color: $secondary-color;
}