@import 'fonts';
@import '../components/common/header';
@import '../components/game/game';

.main-container {
    padding-top: 80px;
}

.jumbotron {
    background-color: $secondary;
}

a {
    &.active {
        color: $active;
    }
    &:hover {
        text-decoration: none;
    }
}

.simpleBox {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn {
    margin: 3px;
    &:focus {
        outline:none;
        box-shadow:none;
    }
}

#toast-container {
    .toast {
        box-shadow: none;
        opacity: 0.9;
    }
}

::selection {
    color: white;
    background: $primary;
}