@import 'variables';
@import 'node_modules/bootstrap/scss/bootstrap';

body {
    background-color: $primary-bg;
    font-family: $primary-font;
    color: $primary;
}
.main-container {
    margin-top: 70px;
}
.jumbotron {
    background-color: $secondary;
}

a.active {
    color: white;
}

.simpleBox {
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn {
    margin: 3px;
}

