.theme-dark {
    $light: #ffebcd;
    $dark: #1E1E1E;

    $primary: darken(rgb(246, 159, 29), 7%);
    $primary-string: "rgb(246, 159, 29)"; //bootstrap4's hamburger
    $secondary: rgb(50, 50, 50);
    $primary-bg: $dark;
    $active: lighten($primary, 20%);
    @import 'vendor';
    @import 'global';
    background-color: $primary-bg;
    font-family: $primary-font;
    color: $primary;
}

.theme-light {
    $light: #ffebcd;
    $dark: #1E1E1E;

    $primary: rgb(87, 87, 87);
    $primary-string: "rgb(87, 87, 87)"; //bootstrap4's hamburger
    $secondary: rgb(177, 177, 177);
    $primary-bg: $light;
    $active: lighten($primary, 20%);
    @import 'vendor';
    @import 'global';
    background-color: $primary-bg;
    font-family: $primary-font;
    color: $primary;
}

body {
    margin: 0px;
}