@import 'fonts';

$primary-color: #F69F1D;
$secondary-color: rgb(134, 134, 134);
$primary-bg: #1E1E1E;
$primary-font: 'Roboto',
'Open Sans',
'sans-serif';
$game-dark: #444;

// bootstrap override
$primary : $primary-color;
$secondary : $secondary-color;