@import 'fonts';

// bootstrap override
$primary : rgb(246, 159, 29);
$primary-string : "rgb(246, 159, 29)";
$secondary : rgb(134, 134, 134);
$dark: #1E1E1E;
$light: $secondary;

$primary-bg: $dark;
$primary-font: 'Roboto',
'Open Sans',
'sans-serif';