@import 'fonts';

// bootstrap override

// ORANGE + GRAY
$primary : rgb(246, 159, 29);
$primary-string : "rgb(246, 159, 29)";
$secondary : rgb(134, 134, 134);
$dark: #1E1E1E;
$light: $secondary;
$active: lighten($primary, 20%);

// GREEN + WHITE
$primary : rgb(0, 88, 0);
$primary-string : "rgb(91, 161, 253)";
$secondary : rgb(177, 177, 177);
$dark: rgb(255, 255, 255);
$light: $secondary;
$active: lighten($primary, 20%);


// Masha's muted beige scheme
$primary : rgb(87, 87, 87);
$primary-string : "rgb(87, 87, 87)"; //bootstrap4's hamburger
$secondary : rgb(177, 177, 177);
$dark: #2e2e2e;
$light: #ffebcd;
$active: lighten($primary, 20%);
$primary-bg: $light;


// GAME
$activeTile: $primary;
$flippedTile: $secondary;


$primary-font: 'Roboto',
'Open Sans',
'sans-serif';