@import '../../styles/variables';
$tileSize: 40px;
.board {
    .boardRow {
        display: flex;
    }
}

.tile {
    width: $tileSize;
    height: $tileSize;
    margin: 1px;
    perspective: 200px;
    user-select: none;
    .front,
    .back {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        width: $tileSize;
        height: $tileSize;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 8px;
    }
    .tileInside {
        transition: 0.3s;
        transform-style: preserve-3d;
        position: relative;
    }
    .front {
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
        background-color: $primary-color;
    }
    .back {
        transform: rotateY(180deg);
        background-color: $secondary-color;
    }
    &.inactive {
        visibility: hidden;
    }
    &.coords {
        background-color: $primary-bg;
        .front {
            background-color: $primary-bg;
        }
    }
    &.flipped {
        .front,
        .back {
            background-color: #444;
            color: #444;
            &:hover {
                background-color: #666;
                color: white;
                cursor: pointer;
                font-weight: 300;
            }
        }
        .tileInside {
            transform: rotateY(180deg)
        }
    }
    &.active {
        .front,
        .back {
            color: $primary-color;
            &:hover {
                background-color: white;
                color: $primary-bg;
                font-weight: 700;
                cursor: pointer;
            }
        }
    }
}