@import '../../styles/variables';
$tileSize: 60px;
.gamePage {
    margin-top: 20px;
}

.board {
    .boardRow {
        min-height: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
    }
}

.panel {
    word-wrap: break-word;
    .moves {
        height: 100px;
        overflow-y: scroll;
    }
}
.highScores {
    table {
        width: 100%;
        td {
            padding: 3px;
            padding-right: 8px;
        }
        tr {
            border-top: 1px $secondary-color solid;
        }
    }
}

.tile {
    height: 100%;
    max-width: $tileSize;
    width: 100%;
    margin: 1px;
    perspective: 200px;
    user-select: none;
    .front,
    .back {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 15%;
    }
    .tileInside {
        padding-top: 100%; /* 1:1 Aspect Ratio */
        width: 100%;
        transition: 0.3s;
        transform-style: preserve-3d;
        position: relative;
    }
    .front {
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
        background-color: $primary-color;
    }
    .back {
        transform: rotateY(180deg);
        background-color: $secondary-color;
    }
    &.inactive {
        visibility: hidden;
    }
    &.disabled {
        pointer-events: none;
    }
    &.coords {
        background-color: $primary-bg;
        .front {
            background-color: $primary-bg;
        }
    }
    &.flipped {
        .front,
        .back {
            background-color: $game-dark;
            color: $game-dark;
            &:hover {
                background-color: lighten($game-dark, 10%);
                color: white;
                cursor: pointer;
                font-weight: 300;
            }
        }
        .tileInside {
            transform: rotateY(180deg)
        }
    }
    &.active {
        .front,
        .back {
            color: $primary-color;
            &:hover {
                background-color: lighten($primary-color, 20%);
                color: $primary-bg;
                font-weight: 700;
                cursor: pointer;
            }
        }
    }
}