@import '../../styles/variables';
// .gamePage {
// }

.board {
    .boardRow {
        display: flex;
        text-align: center;
        justify-content: center;
    }
}

.exampleBox {
    p {
        margin-bottom: 0px;
        margin-top: 5px;
    }
    .boldTip {
        font-weight: 700;
    }
    .example {
        display: flex;
        align-items: center;
    }
}

.panel {
    word-wrap: break-word;
    .moves {
        max-height: 200px;
        overflow-y: auto;
    }
}
.highScores {
    overflow-x: auto;
    table {
        width: 100%;
        td {
            padding: 3px;
            padding-right: 8px;
        }
        tr {
            border-top: 1px $secondary solid;
        }
    }
}

.tile {
    font-size: 2vh;
    max-width: 50px;
    width: 100%;
    margin: 1px;
    margin: 0.15%;
    perspective: 200px;
    user-select: none;
    .front,
    .back {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 15%;
    }
    .tileInside {
        padding-top: 100%; /* 1:1 Aspect Ratio */
        width: 100%;
        transition: 0.3s;
        transform-style: preserve-3d;
        position: relative;
        > span {
            pointer-events: none
        }
    }
    .front {
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
        background-color: $primary;
    }
    .back {
        transform: rotateY(180deg);
        background-color: $secondary;
    }
    &.inactive {
        visibility: hidden;
    }
    &.disabled {
        pointer-events: none;
    }
    &.coords {
        background-color: $primary-bg;
        .front {
            background-color: $primary-bg;
        }
    }
    &.flipped {
        .front,
        .back {
            background-color: lighten($dark, 10%);
            color: lighten($dark, 10%);
            &:hover {
                background-color: lighten($dark, 20%);
                color: white;
                cursor: pointer;
                font-weight: 300;
            }
        }
        .tileInside {
            transform: rotateY(180deg)
        }
    }
    &.active {
        .front,
        .back {
            color: $primary;
            &:hover {
                background-color: lighten($primary, 20%);
                color: $primary-bg;
                font-weight: 700;
                cursor: pointer;
            }
        }
    }
}